.clear{
  padding: 20px;
}

.word{
  font-family: "Comic Sans MS",  sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  width: 100px;
}

.line{
  border-bottom: 1px solid black;
  width: 100px;
  height: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}